/*  COMPONENTES  */

.imagem_logo {
  margin: 1em;
  width: 12.5em;
  height: auto;
}

.menusuperior {
  font-family: Comfortaa-regular;
  padding: .5em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}

.menusuperior nav {
  margin: 1em;
}

.menusuperior li {
  list-style-type: none;
  display: inline;
  padding: 0em 1.5em;
  font-size: 1.1em;
}

.deslogado li:last-child {
  background: #00777d;
  color: white;
  padding: 0.5em 4em;
  border-radius: 50px;
  margin-left: 1.5em;
  transition: 0.3s ease-in-out;
}

.deslogado li:last-child:hover {
  background: #26b8cf;
}

.icon_perfil {
  width: 1em;
  height: auto;
  margin-left: 0.5em;
}

.logado ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.logado li {
  list-style-type: none;
  padding: 0em 1em;
  font-size: 1.1em;
  padding-bottom: 0.5em;
}

.btnPerfil {
  font-size: 0.9em;
  background: #fff;
  color: #007486;
  padding: 0.5em 1.5em 0.6em 1.5em;
  border-radius: 50px;
  border: 1px solid #007486;
  align-items: center;
  justify-content: space-between;
  width: 12em;
  flex-wrap: nowrap;
  font-family: Comfortaa-regular;
  cursor: pointer;
  position: relative;
}

.btnPerfil img {
  margin-right: 0.5em;
}

.perfil_link {
  margin-right: 0.5em;
}

.icon_pesquisa {
  width: 1em;
  height: 1em;
  padding-top: 0.1em;
  margin-bottom: -0.1em;
}

.icon_pesquisa {
  width: 1em;
  height: auto;
  cursor: pointer;
}

.campo_pesquisa {
  border: 1px solid hsla(0, 0%, 49%, 1);
  border-radius: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Comfortaa-regular;
  padding: 0.5em 1em !important;
  margin-right: 1em;
}

.campo_pesquisa input {
  outline: none;
  border: none;
  width: 16em;
  font-size: 0.8em;
}

.campo_pesquisa input:active {
  outline: none;
}

.campo_pesquisa input::placeholder {
  font-family: Comfortaa-regular;
}

/* calendário */
.pagina_homePaciente {
  font-family: Comfortaa-regular;
}

.calendar {
  width: 85%;
  border: 1px solid hsla(0, 0%, 76%, 1);
  border-radius: 10px;
  padding: 1em;
  margin: 2em 2em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-family: Comfortaa-regular;
}

.semana ul {
  list-style: none;
  display: flex;
  margin-top: 2em;
  justify-content: center;
}

.semana ul li {
  color: hsla(0, 0%, 49%, 1);
  font-size: 0.8em;
  margin: 0 3.5em;
}

.semana ul li:nth-child(5) {
  margin-right: 2em;
}

.semana ul li:nth-child(6) {
  margin-left: 5em;
}


.calendarTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  padding: 0 3em;
}

.seta_calendar {
  width: 10px;
  height: 10px;
}

.titleCalendar {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 0.5em;
  font-family: Comfortaa-regular;
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 8.5em);
  gap: 5px;
  padding: 10px;
}

.day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 100%;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
}

.selectedDay {
  border: 3px solid rgba(0, 116, 134, 1);
}

.navigation {
  margin-top: 20px;
  border: 3px solid rgba(0, 116, 134, 1);
  border-radius: 100%;

}

.navigation button {
  padding: 12px 13px 10px 13px;
  cursor: pointer;
  color: rgba(0, 116, 134, 1);
  border: none;
  font-size: 16px;
  background: none;
}

/* compromisso */
.compromisso {
  border: 1px solid rgba(193, 193, 193, 1);
  border-radius: 10px;
  padding: 1.5em 2em;
  width: 85%;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-bottom: 2em;
  font-family: Comfortaa-regular;
}

.dadosCompromisso {
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputCompromisso {
  border: none;
  pointer-events: none;
  width: 30em;
  font-family: Comfortaa-regular;
}

.btnCompromisso button {
  width: 15vw;
  padding: 5px 0;
  border-radius: 20px;
  font-family: Comfortaa-regular;
  font-size: 0.7em;
  cursor: pointer;
}

.btnCancelar {
  color: #007486;
  border: 1px solid #007486;
  background-color: #fff;
  margin-left: 50px;
  transition: 0.3s ease-in-out;
}

.btnCancelar:hover {
  border: 1px solid hsla(188, 69%, 48%, 1);
  color: hsla(188, 69%, 48%, 1);
  /* Texto branco ao passar o mouse */
}

.btnConfirmar {
  color: #fff;
  background-color: #007486;
  border: 1px solid #007486;
  margin-left: 15px;
  transition: 0.3s ease-in-out;
}

.btnConfirmar:hover {
  background-color: hsla(188, 69%, 48%, 1);
  border: 1px solid hsla(188, 69%, 48%, 1);
}

/* opções paciente */
.opcoesPaciente {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-end;
  right: 7.2em;
  z-index: 1000;
  position: absolute;
  margin-top: 12.7em;
  border: 0.5px solid #007486;
  border-top: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.opcoesPaciente.show {
  opacity: 1;
  transform: translateY(0);
}

.lista_opPaciente li {
  font-family: Comfortaa-regular;
  color: #007486;
  border-bottom: 1px solid #007486;
  line-height: 2em;
  font-size: 0.9em;
}

.lista_opPaciente li:last-child {
  margin-bottom: .5em;
}

.lista_opPaciente {
  list-style: none;
  display: flex;
  flex-direction: column;
}

/* detalhesConsulta */
.verDetalhes {
  height: auto !important;
  width: auto !important;
}

.detalhesContent {
  background: url(../../public/images/fundoModalConsulta.png);
  background-size: cover;
  width: 100%;
  height: auto;
}

/*  HOME  */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.banner_pesquisa,
.banner_central {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top {
  width: 100%;
  height: auto;
}

.icone_central {
  width: 7vh;
  height: 7vh;
  margin: -15vh 0 4vh 0;

}

.banner_pesquisa .titulo,
.banner_central .titulo {
  font-family: Comfortaa-light;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2vh;
}

.banner_pesquisa .subtitulo {
  font-family: Comfortaa-light;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1vh 0 4vh 0;
}

.inputs_pesquisa {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 2vh;
  max-width: 100%;
}

.input_duvidas {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 2vh;
  max-width: 100%;
}

.input_duvidas input {
  width: 70vh;
  padding: 1.1vh 2.5vh;
  font-size: 1em;
  border-radius: 30px;
  outline: none;
  color: gray;
  border: 2px solid #d1d1d1;
  transition: border-color 0.3s ease;
  font-family: Comfortaa-light;
}

.inputs_pesquisa select,
.inputs_pesquisa input {
  width: 40vh;
  padding: 1.1vh 2.5vh;
  font-size: 1em;
  border-radius: 30px;
  outline: none;
  color: gray;
  border: 2px solid #d1d1d1;
  transition: border-color 0.3s ease;
  font-family: Comfortaa-light;
}

.inputs_pesquisa select {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  border: 2px solit #d1d1d1;
}

.inputs_pesquisa select:focus,
.inputs_pesquisa input:focus {
  border-color: #888888;
}

.lupa {
  margin-left: 2.5vh;
  width: 2vh;
  height: 2vh;
}

.inputs_pesquisa button,
.input_duvidas button {
  padding: 1.1vh 2.5vh;
  font-family: Comfortaa-light;
  background-color: #00777d;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputs_pesquisa button:hover,
.input_duvidas button:hover {
  background-color: #26b8cf;
}

.chamada {
  background-color: #00777d;
  width: 100%;
  margin-top: 8vh;
  padding: 2.5vh;
  color: white;
}

.chamada p {
  font-family: Comfortaa-regular;
  font-size: 1em;
}

.propaganda {
  width: 100%;
  height: 80vh;
  background-color: #000000;
  background-image: url(/images/imgProfissional.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  align-content: center;
  justify-content: center;
}

.propaganda::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  display: flex;
}

.propaganda p {
  position: absolute;
  color: white;
  margin: 1vh;
  left: 10%;
  top: 35%;
  font-family: Comfortaa-regular;
  font-size: 1.3em;
  width: 45vh;
}

.icones_propaganda {
  position: relative;
  height: 80%;
  width: auto;
  transform: translateX(160%);
}

.botao_criar_conta {
  margin: 5vh;
}

.botao_criar_conta button {
  padding: 1.5vh 15vh;
  font-family: Comfortaa-light;
  background-color: #00777d;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.botao_criar_conta button:hover {
  background-color: #26b8cf;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.navButton {
  background-color: #00777d;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 1vh;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin: 0 16px;
}

.navButton:hover {
  background-color: #00777d;
}

.carouselTrack {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carouselTrack::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 18vh;
  max-width: 18vh;
  background-color: white;
  border-radius: 15%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.label {
  background-color: #00777d;
  color: white;
  font-size: 14px;
  font-family: Comfortaa-regular;
  font-weight: 700;
  padding: 1vh;
  margin: 0;
  width: 100%;
  text-transform: capitalize;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mapa {
  width: 100%;
  margin: 7vh 0;
}

/* CENTRAL DE AJUDA */
.faqs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin: 8vh 0;
}

.pergunta {
  width: 60%;
  border: solid 1px #888888;
  color: #888888;
  font-family: Comfortaa-regular;
  border-radius: 15px;
  padding: 1.5vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.resposta {
  margin-top: 1vh;
  padding: 1vh;
  font-family: Comfortaa-regular;
  text-align: justify;
  font-size: 1em;
  color: white;
  border-top: 1px solid #cccccc;
  height: 0vh;
  overflow: hidden;
  transition: height 0.4s ease, color 0.5s ease;
}

.resposta.expandida {
  color: #888888;
  height: 200px;
}

.header .icone {
  font-size: 1.7em;
}

/* TERMOS */
.termos {
  margin: 5vh 20%;
  font-family: Comfortaa-regular;
  text-align: justify;
  font-size: 1.3em;
}

/*FALE CONOSCO */
.telaCadastro {
  height: 100%;
  width: 100%;
  background: url(../../public/images/backgroundCadastro.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 13%;
  font-family: Comfortaa-regular;
  font-weight: 500;
}

.formulario {
  width: 50vh;
  height: auto;
  background-color: #fff;
  border-radius: 40px;
  padding: 5vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1vh 2vh;
  border: 1px solid #888888;
  border-radius: 20px;
  font-size: 1em;
  outline: none;
  font-family: Comfortaa-regular;
}

.formulario textarea {
  height: 20vh;
}

.formulario button {
  background-color: #00777d;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 1.5vh 2vh;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Comfortaa-regular;
  font-weight: 800;
}

.formulario button:hover {
  background-color: #26b8cf;
}

.chamadaContato {
  max-width: 40%;
  text-align: left;
}

.chamadaContato h1 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 0.5em;
}

.chamadaContato h3 {
  font-size: 1.2em;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

/* MODAL */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContent {
  background: white;
  padding: 5vh;
  border-radius: 25px;
  text-align: center;
  width: 35vh;
  height: auto;
  font-family: Comfortaa-regular;
  font-weight: 700;
  font-size: 1em;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  flex-wrap: wrap;
}

.modalButtons button {
  margin: 1vh 0;
  padding: 1vh 2vh;
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  font-family: Comfortaa-regular;
  font-weight: 800;
}

.modalButtons button:first-child {
  background-color: #00777d;
  color: white;
  transition: 0.5s;
}

.modalButtons button:first-child:hover {
  background-color: #26b8cf;
}

.modalButtons button:last-child {
  border: 1px solid #00777d;
  background: none;
  transition: 0.5s;
}

.modalButtons button:last-child:hover {
  border: 1px solid #888888;
  background-color: #cccccc;
}

.fechar {
  margin: 6vh 0;
  padding: 1vh 2vh;
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: large;
  cursor: pointer;
  font-family: Comfortaa-regular;
  font-weight: 800;
  color: #fff;
  background-color: #00777d;
  transition: 0.5s;
}

.fechar:hover {
  background-color: #26b8cf;
}

.divMapa {
  cursor: pointer;
}

/* OUTROS */
.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.rodape {
  display: flex;
  justify-content: space-around;
  padding: 5vh 0 5vh 0;
  background-color: #fff;
  color: #000;
  font-family: Comfortaa-regular;
  font-size: 12px;

}

.contato {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 200px;
  gap: 3px;
}

.contato p {
  white-space: nowrap;
}

.social {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.icon_rede_social {
  color: #006d6f;
  font-size: 1.5rem;
}

.section {
  text-align: left;
  max-width: 120vh;
}

.section h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  margin-bottom: 5px;
  cursor: pointer;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

/* CADASTRO */
.pagina_cadastro {
  width: 100%;
  height: 100%;
}

.telaCadastro {
  height: 100%;
  width: 100%;
  background: url(../../public/images/backgroundCadastro.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}

.imgCadastro {
  width: 21.5em;
  height: auto;
}

.modalCadastro {
  background: #fff;
  width: 35%;
  height: 100%;
  border-radius: 40px;
  font-family: Comfortaa-regular;
  padding: 4em 3em;
  margin-left: 5em;
}

.titulo_modalCadastro {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.camposCadastro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.geral {
  border-radius: 20px;
  border: 1px solid hsla(0, 0%, 49%, 1);
  padding: 0.8% 1.5em 0 1.5em;
  line-height: 2.2em;
  width: 100%;
  margin: 0.5em 0;
  font-family: Comfortaa-regular;
}

.geral:focus {
  outline: none;
  outline: .5px solid hsla(0, 0%, 65%, 1);
  border: .5px solid hsla(0, 0%, 65%, 1);
}

.geral::placeholder {
  font-family: Comfortaa-regular;
  font-size: 1em;
}

.logradouro {
  line-height: 2.15em;
  margin-top: 7px;
}

.cidade {
  margin-bottom: 0;
}

.intermediario {
  width: 57% !important;
  margin-right: 3% !important;
}

.pequeno {
  width: 40% !important;
}

.intermediarioC {
  width: 57% !important;
  margin-left: 3% !important;
}

.data {
  appearance: none;
  color: hsla(0, 0%, 49%, 1);
  padding: 0 1.5em !important;
  line-height: 2.5em;
  font-family: Comfortaa-regular;
}

.data::-webkit-calendar-picker-indicator {
  opacity: 0;
  color: hsla(0, 0%, 49%, 1);
}

.data.dateInput {
  font-size: 0.9em;
  padding: 0 1.5em !important;
  line-height: 2.15em;
  background: #fff url(../../public/images/calendar.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  margin: 0.5em 0;
}

.data.dateInput::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.camposCadastro input[type="checkbox"] {
  transform: scale(1.5);
}

.checkProf {
  margin: 2em 1em 2.5vh 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 71%;
  align-items: center;
  font-size: 0.9em;
}

.checkTermo {
  margin: 0 2vh 2em 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88.5%;
  align-items: center;
  font-size: 0.9em;
}

.checkAgendaAberta {
  margin: 2em 1em 2em 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  align-items: center;
  font-size: 0.9em;
}

.camposCadastro span {
  font-size: 0.8em;
}

.modalCadastro button {
  font-family: Comfortaa-regular;
  background: hsla(188, 100%, 26%, 1);
  border-radius: 20px;
  width: 100%;
  line-height: 8vh;
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.1em;
}

.modalCadastro button:hover {
  background: hsla(188, 69%, 48%, 1);
}


/* CADASTRO PROFISSIONAL DE SAÚDE */
.select {
  height: 2.1em;
  color: hsla(0, 0%, 49%, 1);
  display: flex;
  align-items: center;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
}

.codProf {
  padding-left: 2.01em;
}

.select select {
  border: none;
  color: hsla(0, 0%, 49%, 1);
  outline: none;
  cursor: pointer;
  width: 100%;
}

.select select:focus {
  outline: none;
  border: none;
}

.selectBlack {
  color: black;
}

/* LOGIN */
.login {
  padding: 3.5em;
}

.inputLogin {
  margin-bottom: 1em;
  font-size: 0.95em;
}

.esqueceuSenha {
  color: hsla(0, 0%, 49%, 1);
  display: flex;
  justify-content: flexEnd;
  font-size: 0.9em;
  margin: 0.2em 0 2em 0;
  cursor: pointer;
}

.semConta {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  margin: 2em 0 0 0;
  cursor: pointer;
}

.hoverLink:hover {
  text-decoration: underline;
}

/* RECUPERAR CONTA */
.recConta {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.avisoRecConta {
  color: hsla(0, 0%, 49%, 1);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1em 0 2em 0;
}

/* CONFIGURAÇÕES */
.telaConfiguracoes {
  height: 100%;
  width: 100%;
  background: url(../../public/images/top2.png);
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}

.titulo_modalConfiguracoes {
  font-size: 1.4em;
  grid-area: titulo;
  font-family: Comfortaa-regular;
}

.camposConfig {
  grid-column: 1;
  grid-row: 2;
  grid-area: camposConfig;
  margin-right: 5em;
  margin-top: 16px;
}

.config1 {
  margin-bottom: 5vh;
}

.modalConfig {
  background-color: rgba(125, 125, 125, 0);
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 0.5em 100vh;
  gap: 2em;
  grid-template-areas:
    "titulo titulo"
    "camposConfig imagem_perfil"
  ;
}

.geralC {
  border-radius: 20px;
  border: 1px solid hsla(0, 0%, 49%, 1);
  padding: 5px 1.5em 0 1.5em;
  line-height: 2.2em;
  width: 100%;
  margin: 0.5em 0;
  font-family: Comfortaa-regular;
}

.geralC:focus {
  outline: none;
  outline: .5px solid hsla(0, 0%, 65%, 1);
  border: .5px solid hsla(0, 0%, 65%, 1);
}

.geralC::placeholder {
  font-family: Comfortaa-regular;
  font-size: 1em;
}

.dataC {
  color: hsla(0, 0%, 49%, 1);
  font-family: Comfortaa-regular;
  line-height: 2.2em;
}

.dataC::-webkit-calendar-picker-indicator {
  opacity: 0;
  color: hsla(0, 0%, 49%, 1);
}

.dataC.dateInput {
  font-size: 0.9em;
  background: #fff url(../../public/images/calendar.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  margin: 0;
  line-height: 1.9em;
}

.dataC.dateInput::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.perfil {
  grid-area: imagem_perfil;
  grid-column: 2;
  grid-row: 2;
  border-left: 3px solid hsla(188, 100%, 26%, 1);
  height: 70vh;
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.imagem_perfil {
  border-radius: 50%;
  width: 13em;
  height: auto;
  margin-bottom: 1.5em;
}

.btnFoto {
  width: 45% !important;
  line-height: 1.2em !important;
  height: auto;
  padding: .7em 2em;
  font-size: 1.2em !important;
}

/* SEM FAVORITOS */
.img_semFavoritos {
  width: 30vw;
  height: auto;
  margin-top: 15%;
}

/* FAVORITOS */
.telaFavoritos {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 4em;
  align-content: center;
}

.telaFavoritos span {
  margin-bottom: 1em;
}

.itemFavorito {
  border: 1px solid hsla(0, 0%, 76%, 1);
  border-radius: 10px;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 9em;
  gap: 1em;
  grid-template-areas:
    "imgFavorito proFavorito"
  ;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.imgFavorito {
  grid-area: imgFavorito;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.proFavorito {
  border-radius: 50%;
  width: 7.5em;
  height: auto;
}

.estrela {
  width: 1.2em;
  height: auto;
}

.dadosPro_favorito {
  grid: proFavorito;
  font-family: Comfortaa-regular;
  height: 100%;
  padding-top: -5em;
  margin-top: -1.5em;
}

.dadosGeral {
  line-height: 2em;
  font-size: 0.8em;
}

.nomePro {
  font-size: 1.2em;
}

.btnConsulta {
  font-family: Comfortaa-regular;
  background: hsla(188, 100%, 26%, 1);
  border-radius: 20px;
  width: 15vw;
  height: auto;
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 2em;
  padding: 0.5em 2em;
  text-align: center;
  line-height: 1em;
}

.btnConsulta:hover {
  background: hsla(188, 69%, 48%, 1);
}

.lixeira {
  width: 1.5em;
  height: auto;
  float: right;
  margin: 1em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.lixeira:hover {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

.nextPages {
  width: 12%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-self: center;
  align-items: center;
  margin: 2em;
}

.nPagina {
  color: #007486;
  border-radius: 100%;
  border: 1px solid #007486;
  padding: 7px 17px;
  font-family: AbhayaLibre-Regular;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.nPagina.active {
  background-color: #007486;
  color: #fff;
}

.containerFav {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.componenteFav {
  width: 100%;
  justify-items: center;
}

.tituloFav {
  margin-left: 14vw;
}


/* HOME PACIENTE */
.home_paciente {
  background: url(../../public/images/bgHomePaciente.png);
  height: 63vh;
  width: 100%;
  background-size: cover;
}

.home_paciente::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 63vh;
  background: linear-gradient(to right, hsla(0, 0%, 0%, 0.95), hsla(0, 0%, 0%, 0));
  display: flex;
}

/* DEPENDENTES */
.telaDependentes {
  display: flex;
  flex-direction: column;
}

.topoDependentes {
  width: 80%;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

.btnDependentes {
  margin-top: 2em;
  width: 22vw;
  padding: 1.2em 2.5em;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #007486;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  font-family: Comfortaa-regular;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnDependentes:hover {
  background: hsla(188, 69%, 48%, 1);
}

.addDep {
  width: 1.2em;
  height: auto;
}

.dadosDependente {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  width: 80%;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  padding: 5vh 6vw;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: Comfortaa-regular;
}

.info span {
  line-height: 2.5em;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.novoDep {
  width: 40.5%;
  position: fixed;
  z-index: 1000;
  height: auto;
  padding: 4em 3em;
  border-radius: 20px;
}

.dataDep {
  line-height: 2.5em;
}

.titulo_novoDep {
  color: #007486;
}

.btnNovoDep {
  margin-top: 2em;
  line-height: 2.2em !important;
}

.btnCloseDep {
  width: 1.2em;
  height: auto;
  display: flex;
  justify-self: flex-end;
  cursor: pointer;
}

/* AGENDA */
.agenda {
  background: url(../../public/images/backgroundAgenda.png);
  height: 40vh;
  width: 100%;
  background-size: cover;
}

.divCalendario {
  width: 100%;
  margin-bottom: 1em;
}

.compromissoAgenda {
  margin-top: 3em;
}

.consultasTitle {
  font-family: Comfortaa-regular;
  margin: 0 16vh;
  font-size: 1.2em;
  font-weight: 600;
}

.titleCancelamento {
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 1vh;
}

.cancelamento {
  width: 19%;
  height: auto;
  text-align: center;
  padding: 5vh;
  background: #fff;
  border-radius: 20px;
  font-family: Comfortaa-regular;
}

.botoesModal {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.btnSemFundo {
  color: #000;
  border: 1px solid #007486;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  width: 100%;
  padding: 1vh 2vh;
  font-family: Comfortaa-regular;
  font-size: 0.8em;
  font-weight: 700;
}

.btnSemFundo:hover {
  border: 1px solid #888888;
  background-color: #cccccc;
}

.btnComFundo {
  color: #fff;
  background-color: #007486;
  border: 1px solid #007486;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  width: 100%;
  margin-top: 3vh;
  padding: 1vh 2vh;
  font-family: Comfortaa-regular;
  font-size: 0.8em;
  font-weight: 700;
}

.btnComFundo:hover {
  background-color: hsla(188, 69%, 48%, 1);
  border: 1px solid hsla(188, 69%, 48%, 1);
}